*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "#9Slide03 Montserrat";
}
.container{
    max-width: 900px;
    margin: 0px auto;
}
.row{
    width: 100%;
    padding: 5px;
    margin: 5px 0px
}
.heading-4{
    font-size: 20px;
    font-weight: bolder;
}
.btn{
    border: none;
    outline: none;
    border: 1px solid orange;
    padding: 5px 20px;
}
.btn-primary{
    background: yellowgreen;
    border: yellowgreen;
    color: black;
}
.btn-primary:hover{
    background: red;
}
.btn-warning{
    background: darkseagreen;
    border: darkseagreen;
    color: black;
}
.btn-warning:hover{
    background: brown;
}
.table{
    width: 100%;
}
.table, table tr, table td, table th{
    border-collapse: collapse;
}
.table>thead{
    background: cornflowerblue;
    color: white
}
.table>tbody>tr{
    border-bottom: yellow;
}
.table>tbody>tr:hover{
    background: darkseagreen;
}
.avatar-sm {
    max-width: 100px;
    border-radius: 50%;
    height: 80px;
}
.avatar-lg {
    max-width: 250px;
    width: 150px;
    border-radius: 10%;
    height: 160px;
}
.text-center{
    text-align: center;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: start;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}
.show{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    width: 600px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.9)
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid lightcoral;
    margin-bottom: 10px;
    }
.modal-header{
    font-weight: bolder;
    font-size: 25px;

}
.close-modal:hover{
    transform: scale(2);
    cursor: pointer;
}
.create-contact{
    display: flex;
    justify-content: space-between;
}
.contact-info{
    width: 65%;
}
.form-group{
    display: flex;
    margin: 3px 0px;
}
.form-group label{
    width: 35%;
}
.form-control{
    flex-grow: 1;
    padding: 5px 2px;
}
